/* Estilo padrão para o corpo da página */
body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: rgb(173, 0, 0);
}

/* Estilo para o cabeçalho da página */
header {
  background-color: rgb(0, 0, 0);
  padding: 20px;
}

/* Estilo para a lista não ordenada na navegação */
nav ul {
  list-style: none;
  color: blue;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Estilo para os itens na lista não ordenada */
nav li {
  margin-right: 20px;

}

/* Estilo para os links na navegação */
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Estilo padrão para as seções */
section {
  padding: 20px;
}
